asn1crypto==0.24.0
attrs==18.1.0
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.6.1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.3
cssselect==1.0.3
decorator==4.3.0
html5lib==1.0.1
httplib2==0.11.3
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
lxml==4.2.4
mypy==0.620
numpy==1.15.0
oauthlib==2.1.0
packaging==17.1
pandas==0.23.3
parsel==1.5.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
pip-review==1.0
pkg-resources==0.0.0
prompt-toolkit==2.0.4
psutil==5.4.6
ptyprocess==0.6.0
pyaml==17.12.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
PyHamcrest==1.9.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.3
python-nmap==0.6.1
pytz==2018.5
PyYAML==3.13
queuelib==1.5.0
requests==2.19.1
requests-oauthlib==1.0.0
rsa==3.4.2
scikit-learn==0.19.2
Scrapy==1.5.1
selenium==3.14.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
tweepy==3.6.0
twilio==6.16.0
Twisted==18.7.0
typed-ast==1.1.0
urllib3==1.23
validators==0.12.2
virtualenv==16.0.0
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
wget==3.2
zope.interface==4.5.0
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.6.3
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.4.1
cssselect==1.0.3
decorator==4.3.0
html5lib==1.0.1
httplib2==0.12.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipython==7.1.1
ipython-genutils==0.2.0
jedi==0.13.1
lxml==4.2.5
mypy==0.641
mypy-extensions==0.4.1
numpy==1.15.4
oauthlib==2.1.0
packaging==18.0
pandas==0.23.4
parsel==1.5.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pip-review==1.0
pkg-resources==0.0.0
prompt-toolkit==2.0.7
psutil==5.4.8
ptyprocess==0.6.0
pyaml==17.12.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.2.0
PyHamcrest==1.9.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
python-dateutil==2.7.5
python-nmap==0.6.1
pytz==2018.7
PyYAML==3.13
queuelib==1.5.0
requests==2.20.1
requests-oauthlib==1.0.0
rsa==4.0
scikit-learn==0.20.0
scipy==1.1.0
Scrapy==1.5.1
selenium==3.141.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
tweepy==3.6.0
twilio==6.20.0
Twisted==18.9.0
typed-ast==1.1.0
urllib3==1.24.1
validators==0.12.3
virtualenv==16.1.0
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
wget==3.2
zope.interface==4.6.0
